<% include partials/header %>

<div class="ui main text container segment">
    <div class="ui huge header">New WriteUp</div>
    <form class="ui form" action="/writeups" method="POST" >
        
        <div class="field">
            <label>Title</label>
             <input type="text" name="writeup[title]" placeholder="Name of writeup">
        </div>
        
        <div class="field">
             <label>Image</label>
            <input type="text" name="writeup[image]" placeholder="image URL">
        </div>
      
        <div class="field">
             <label>writeup Content</label>
             <textarea name="writeup[body]"></textarea>
        </div>
        
        <input class="ui violet big inverted button" type="submit">
    </form>
</div>

<% include partials/footer %> 